<template>
	<form @submit.prevent="onSubmit()">
		<h1 v-if="showMessage" data-name="message">form submitted, hurray</h1>
		<input v-model="email" name="email" type="email" />
		<input v-model="password" type="password" name="password" />
		<button>button</button>
	</form>
</template>

<script lang="ts">
    import {defineComponent} from 'vue';

    export default defineComponent({
        name: 'HelloWorld',
        components: {},
        props: {
            msg: String,
        },
        data() {
            return {
                email: "",
                password: "",
                showMessage: false
            }
        },
        methods: {
            onSubmit() {
                this.showMessage = true
            }
        }
    });
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  h3 {
    margin: 40px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
